.footer {
	flex-grow: 0; /* Footer size remains constant. */
    padding: 0.7em;
    background-color: lightyellow;
	border-top: 1px solid lightgray; /* Border to separate from DayDetails */
	font-size: 0.8em;
	display: flex; /* Make it a flex container. */
}

.footer a {
	opacity: 0.6;
	cursor: pointer; /* For the 'hand'/'click' cursor. */
	margin: 0 0.5em;
}

.footer a:hover {
	opacity: 1;
}

.footer a.github {
	margin-left: auto; /* Push it to the right. */
	display: flex; /* Removing this misaligns the vertical axis of '.github'. */
}

.footer a.github::after {
	content: url(https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/svg/logo-github.svg);
	padding-left: 0.2em; /* Imitate a space. */
}
