.timeline {
	overflow: auto; /* Let browsers handle overflow. Adds a scrollbar if needed. */
	padding: 0.7em 1em; /* Some padding. */
	margin: 0; /* Remove margin in favour of padding on .timeline. */
	background-color: lightyellow;
	
	/* Flexbox */
    display: flex; /* Make it a container. (Yes, it's a nested container.) */
    flex-flow: row nowrap;
    justify-content: flex-start; 
}

.timenode {
	flex: 1 1 auto; /* Have the nodes take all the width evenly. */
	min-width: 5em; /* Don't get shorter than this. */
	opacity: 0.3; /* Fade non-active nodes. */
}

.timenode:hover, .active {
	opacity: 1;
}

/* Representation of the timenode. */
.timenode div {
	height: 0.8em;
	width: 0.8em;
	background-color: black;
	margin: auto; /* Align element to center. */
}
